{% extends 'authentication/base.html' %}

{% block header %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'authentication/css/authentication.css' %}">

{% endblock %}

{% block body %} 
<div class="virifity">
<form method="POST" action="{% url 'confirmation' %}">
    {% csrf_token %}
    <label for="code" style="margin-bottom: 20px;">Введите код подтверждения:</label>
    <input type="text" name="code" required>
    <button type="submit" name="verify_code" style="margin-top: 20px;">Подтвердить</button>
</form>
</div>

<div class="error" style=" border-radius: 25px; padding: 25px; margin-top: 120px; height: 50px;">
{% for message in messages %}
    {% if 'verifity_error' in message.tags %}
        <span style="color: red; margin-top: 25px; font-size: 20px;">{{ message }}</span>
    {% endif %}
{% endfor %}
</div>


{% endblock %}

