
body{
    font-family: helvetica !important;
	font-style: normal !important; 
	font-weight: normal !important;
}
.form_profile{
    background-color: white;
    border-radius: 5px;
    display: grid;
    padding: 10px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2);
    background-color: rgba(24, 24, 24);
}

#span-id-pass{
    text-align: center;
    width: 100%;
    font-size: 25px;
    color: white;
}

form{
    display: grid;
}

button{
    width: 100% !important;
    cursor: pointer;
	border-radius: 5px;
	border: 1px solid #2b75ff;
	background-color: #2b75ff;
	color: #FFFFFF;
	font-size: 12px;
    padding: 15px 0px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

ul, li{
    text-align: center;
    padding: 25px!important;
    display: flex; /* Используем flexbox для выравнивания элементов */
    flex-direction: column; /* Располагаем элементы вертикально */
}

li{
    margin: 5px;
}

label{
    margin-bottom: 5px;
}

.button{
    text-align: center;
    margin: 0px;
}

.errorlist li{
    color: red;
    margin: 5px!important;
    padding: 5px!important;
}

ul{
    border-radius: 12px; /* Закругленные углы */
    padding: 20px; /* Внутренние отступы */
    max-width: 400px; /* Максимальная ширина блока */
    margin: 0px auto; /* Центрирование блока */
    font-family: 'Arial', sans-serif; /* Шрифт для текста */
}

ul label {
    font-size: 1.2em; /* Размер шрифта заголовков */
    color: #333; /* Цвет текста заголовков */
    margin-bottom: 10px; /* Отступ снизу */
    font-weight: 600; /* Полужирный шрифт для заголовков */
    border-bottom: 2px solid #007bff; /* Подчеркивание заголовков */
    padding-bottom: 5px; /* Отступ снизу заголовка */
}

ul input {
    display: block; /* Каждый элемент на новой строке */
    font-size: 1em; /* Размер шрифта для текста */
    color: #555; /* Цвет текста */
    margin-bottom: 15px; /* Отступ снизу */
    padding: 10px; /* Внутренние отступы для текста */
    border-radius: 5px; /* Закругленные углы для текста */
}

.info input:hover {
    background-color: #e0f7fa; /* Изменение фона при наведении */
}