<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <title>Восстановление пароля</title>
  {% load static %}
  <!-- Favicons -->
  <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/form.css' %}">

</head>

<body>
 

    <div class="container">

        <h2 class="form-email-h2">Восставновление пароля</h2>
        <div class="form-wrap">
          
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"><i class="fa fa-lock"></i>Отправить</button>
            </form>

          <hr>
          <div class="login-social-link centered">
            <button class="btn" type="submit"><i class="fa fa-facebook"></i><a href="{% url 'authentication' %}">Назад к авторизации</a></button>
          </div>

    </div>
    <footer>
      <p>
        Created with <i class="fa fa-heart"></i> by
        <a target="_blank" href="https://github.com/StepanSergeevich">Arhimiel</a>
            
      </p>
    </footer>
       
</body>

</html>
