<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Восстановление пароля</title>
  <link rel="icon" href="/static/authentication/images/background/favico.png" type="image/x-icon">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/form.css' %}">
</head>

<body>

  <style type="text/css">
    body {
        height: 100vh; /* Высота на весь экран */
        margin: 0; /* Убираем отступы */
        background-image: url('/static/authentication/images/background/back5.jpg');
        background-size: cover; /* Изображение будет масштабироваться, чтобы покрыть весь элемент */
        background-repeat: no-repeat; /* Изображение не будет повторяться */
    }
</style>


    <div class="container">
        <h2 class="form-email-h2">Пароль успешно изменён!</h2>
        <div class="form-wrap">
          <div class="login-social-link centered">
            <a class="button" id="second-btn" href="{% url 'authentication' %}">Назад к авторизации</a> 
          </div>
    </div>

    <footer>
      <p>
        Created with <i class="fa fa-heart"></i> by
        <a target="_blank" href="https://github.com/StepanSergeevich">Arhimiel</a> 
      </p>
    </footer>
       
</body>
</html>
