
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <title>Восстановление пароля</title>
  {% load static %}
  <!-- Favicons -->
  <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/form.css' %}">

</head>

<body>
 

    <div class="container">

        <h2 class="form-email-h2">Письмо успешно отправлено!</h2>
        <span style="color: rgb(73 141 2);;">Ссылка на восстановление пароля внутри письма от ScAuction@yandex.ru</span>
        <div class="form-wrap">
          

          <div class="login-social-link centered">
            <button class="btn" type="submit"><i class="fa fa-facebook"></i><a href="{% url 'authentication' %}">Назад к авторизации</a></button>
          </div>

    </div>

       
</body>

</html>
