{% extends 'auction/base_main.html' %}
{% block header %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'auction/css/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'auction/css/password_change.css' %}">
<link rel="icon" href="/static/auction/images/html/favico.png" type="image/x-icon">
<title>Смена пароля</title>
{% endblock %}
{% block body %} 

<style type="text/css">
    body {
        height: 100vh; /* Высота на весь экран */
        margin: 0; /* Убираем отступы */
        background-image: url('/static/auction/images/html/back5.jpg');
        background-size: cover; /* Изображение будет масштабироваться, чтобы покрыть весь элемент */
        background-repeat: no-repeat; /* Изображение не будет повторяться */
    }

</style>

<div class="form_profile">
    <span id="span-id-pass">Смена пароля</span>
    <form method="post">
        {% csrf_token %}
        <ul>
            <li>   
                <label for="{{ form.old_password.id_for_label }}">Старый пароль:</label>
                {{ form.old_password }}
            </li> 
            <li>
                <label for="{{ form.new_password1.id_for_label }}">Новый пароль:</label>
                {{ form.new_password1 }}

            </li> 
            <li>
                <label for="{{ form.new_password2.id_for_label }}">Подтверждение нового пароля:</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="error">	{{ form.new_password2.errors }}</div>
                {% endif %}
            </li> 

        </ul>
        <button type="submit" name="change">Сменить пароль</button>
    </form>
    <a class="button" id="second-btn" href="{% url 'info_user' %}">Назад</a> 
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
    const errorDivs = document.querySelectorAll('.error');
    errorDivs.forEach(function(errorDiv) {
        if (errorDiv.textContent.includes("Обязательное поле")) {
            errorDiv.style.display = 'none'; 
        }
    });
});
</script>
{% endblock %}