{% extends 'auction/form_base.html' %}
{% block header %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'auction/css/forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'auction/css/choice_lots.css' %}">
<link rel="icon" href="/static/auction/images/html/favico.png" type="image/x-icon">
<title>Настройка лотов</title>
{% endblock %}
{% block body %} 

<style type="text/css">
    body {
        height: 100vh; /* Высота на весь экран */
        margin: 0; /* Убираем отступы */
        background-image: url('/static/auction/images/html/back2.jpg');
        background-size: cover; /* Изображение будет масштабироваться, чтобы покрыть весь элемент */
        background-repeat: no-repeat; /* Изображение не будет повторяться */
    }

</style>

<div class="container_items_choice">
    <form method="post">
        {% csrf_token %}
            <div class="checkboxes">
            <span class="name_items_check">БАРТЕР</span>
            {% for id, name in checkbox_values.items %}
                <label class="lns-checkbox ml-2">
                    <input type="checkbox" name="selected_items" value="{{ id }}" class="item-checkbox"
                        {% if id in selected_items %}checked{% endif %}>
                    <span>{{ name }}</span>
                </label>
            {% endfor %}
            </div>
            <div class="button_div">
                <button type="submit" name="choiced" class="button" id="but" style="margin-top: 50px;">Подтвердить изменения</button>
                <a class="button" style="margin-bottom: 50px;" id="second-btn" href="{% url 'settings' %}">назад</a> 
            </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const checkboxes = document.querySelectorAll('.item-checkbox');

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            const checkedCount = document.querySelectorAll('.item-checkbox:checked').length;
            if (checkedCount > 9) {
                // Используем SweetAlert2 для красивого уведомления
                Swal.fire({
                    title: 'Ошибка!',
                    text: 'Вы можете выбрать не более 3 элементов.',
                    icon: 'warning',
                    confirmButtonText: 'Понял'
                });
                this.checked = false; // Снимаем отметку с последнего чекбокса
            }
            if (checkedCount < 3) {
                // Используем SweetAlert2 для красивого уведомления
                Swal.fire({
                    title: 'Ошибка!',
                    text: 'Должно быть выбрано хотя бы 2 элемента!',
                    icon: 'warning',
                    confirmButtonText: 'Понял'
                });
                this.checked = true; // Снимаем отметку с последнего чекбокса
            }
        });
    });
</script>

{% endblock %}