{% extends 'auction/base_main.html' %}

{% block header %}


{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'auction/css/main.css' %}">
{% endblock %}

{% block body %} 


    {% for Api_info in API %}
    <div class="item">
        <img src="{{ Api_info.img_src }}" alt="Item Image">
        <div class="description" style="background-color: {{ Api_info.color }}">
            <p class="name_item">{{ Api_info.item_id }}</p>  
            <p class="price">{{ Api_info.lot }}</p>          
        </div>
    </div>
    {% endfor %}



<header>
	<a href="http://127.0.0.1:8000/auction/profile_user"><button type="submit">Настройки профиля</button></a>
</header>

{% endblock %}