{% extends 'auction/form_base.html' %}
{% block header %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'auction/css/forms.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="icon" href="/static/auction/images/html/favico.png" type="image/x-icon">
<title>Настройки</title>
{% endblock %}
{% block body %} 

<style type="text/css">
    body {
        background-image: url('/static/auction/images/html/back2.jpg');
        background-size: cover; /* Изображение будет масштабироваться, чтобы покрыть весь элемент */
        background-repeat: no-repeat; /* Изображение не будет повторяться */
    }
</style>

<div class="container_form" style="border-radius: 10px;">
    <a class="button" href="{% url 'choice_lots' %}" style="margin-top: 100px;">Настройка лотов</a>
    <a class="button" id="second-btn" href="{% url 'main' %}">Назад</a> 
</div>

<script>
    const checkboxes = document.querySelectorAll('.item-checkbox');
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            const checkedCount = document.querySelectorAll('.item-checkbox:checked').length;
            if (checkedCount > 3) {
                Swal.fire({
                    title: 'Ошибка!',
                    text: 'Вы можете выбрать не более 3 элементов.',
                    icon: 'warning',
                    confirmButtonText: 'Понял'
                });
                this.checked = false; // Снимаем отметку с последнего чекбокса
            }
            if (checkedCount < 2) {
                Swal.fire({
                    title: 'Ошибка!',
                    text: 'Должно быть выбрано хотя бы 2 элемента!',
                    icon: 'warning',
                    confirmButtonText: 'Понял'
                });
                this.checked = true; // Снимаем отметку с последнего чекбокса
            }
        });
    });

    // Alert
    {% if messages %}
        window.onload = function() {
            {% for message in messages %}
                Swal.fire({
                    title: 'Сообщение',
                    text: "{{ message }}",
                    icon: 'info',
                    confirmButtonText: 'ОК'
                });
            {% endfor %}
        }
    {% endif %}
</script>
{% endblock %}